<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>CFAM | Centro de Formación</title>
    <meta name="generator" content="Eleventy">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />
    <!-- Stylesheets -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap">

    <!--Favicon-->
    <link rel="shortcut icon" href="/assets/images/favIcon.png" type="image/x-icon" />
    <link rel="icon" href="/assets/images/favIcon.png" type="image/x-icon" />
  </head>

  <body>
  {% block navbar %}
    <div id="sticky-banner" tabindex="-1" class="fixed top-0 start-0 z-50 flex justify-between w-full p-4 border-b border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
      <div class="flex items-center mx-auto">
        <p class="flex items-center ">
          <i class="fa fa-bullhorn" aria-hidden="true"></i> Sorteo curso "Plan de Seguridad Integral" - 
          <a href="https://www.instagram.com/p/DBtxFeZsnIb/?igsh=ZXZocXdvZTBlaWpr" target="_blank">
              ¡Participa!
          </a>
        </p>
      </div>
      <button class="close-btn" onclick="document.getElementById('sticky-banner').style.display='none';">
        <i class="fa fa-times" aria-hidden="true"></i>
        <span class="sr-only">Cerrar</span>
      </button>
    </div>

    <nav class="navbar navbar-expand-lg site-navigation nav-bg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{nav.navLogo}}" alt="nav-logo" />
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#sitenavbar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="sitenavbar">
          <ul class="navbar-nav ml-auto main-nav">
            {% for navLink in nav.navLinks %}
            <li class="nav-item">
              {% if navLink.route == "home" %}
                <a class="nav-link" href="/">{{navLink.name | capitalize}}</a>
              {% else %}
                <a class="nav-link" href="/{{navLink.route}}">{{navLink.name | capitalize}}</a>
              {% endif %} 
            </li>
            {% endfor %}
            {% if nav.navBtnLink != "" %}
                <li class="nav-item">
                  <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="/{{nav.navBtnLink}}">
                    <span class="btn-area">
                      <span data-text="{{nav.navBtnText}}">
                        {{nav.navBtnText}}
                      </span>
                    </span>
                  </a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block content %}
    {{content | safe}}
  {% endblock %}

  <a href="https://api.whatsapp.com/send?phone=672458610" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>

  {% block footer %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-logo">
              <a href="/">
                <img decoding="async" loading="lazy" src="{{footer.footerLogo}}" alt="logo-footer">
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <h5 class="site-footer-widget-title">{{footer.contactsHeading}}</h5>
              <p class="site-footer-widget-description">
              {% for contactInfo in footer.contactsInfo %}
                <a href="{{contactInfo.link}}" target="_blank">{{contactInfo.text}}</a>
                <br>
              {% endfor %}
              </p>
            </div>
          </div>
          <!--
          <div class="col-lg-2 col-md-6">
            <div class="site-footer-widget">
              <h5 class="site-footer-widget-title">{{footer.siteMapHeading}}</h5>
              <ul class="site-footer-widget-links">
                {% for siteMap in footer.siteMap %}
                 <li>
                  <a href="/{{siteMap.link}}">{{siteMap.text}}</a>
                 </li> 
                {% endfor %}
              </ul>
            </div>
          </div>
          -->
          <div class="col-lg-2 col-md-6">
            <div class="site-footer-widget">
              <h5 class="site-footer-widget-title">{{footer.socialHeading}}</h5>
              <ul class="site-footer-widget-links">
                {% for socialMedia in footer.socialMedia %}
                <li><a href="{{socialMedia.link}}" target="_blank">{{socialMedia.text}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <h5 class="site-footer-widget-title">{{footer.brandHeading}}</h5>
              <p class="site-footer-widget-description">
              {% for brandMotto in footer.brandMotto %}
                - {{brandMotto}}
                <br>
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="col-lg-1 col-12">
            <a href="#top" class="site-footer-widget-top">
              <img decoding="async" loading="lazy" src="{{footer.back2topIcon}}" alt="back-to-top">
              <p>
                {{footer.customerComment}}
              </p>
            </a>
          </div>
          <div class="col-12">
            <div class="site-footer-copyright text-center my-3">
              <p> Made with ❤️ by <a href="https://fnavales.es/" target="_blank">🥷🏽</a> </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
    <!-- <script src="js/vendor.js"></script> -->
    <script src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>

